.infoArea {
  margin: 2rem;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infoCenter {
  text-align: center;
}

.loginForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.stat {
  display: flex;
  gap: 3rem;
  flex-direction: row;
}