.featuresSection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 52rem;
  margin: auto;
  padding-bottom:3rem;
}

@media (max-width: 1024px) and (min-width: 769px) {
  .featuresSection {
    width: 42rem;
  }
}

@media (max-width: 768px){
  .featuresSection {
    width: 22rem;
  }
}