.card {
  width: 20rem;
}

.header {
  margin-bottom: 0.5rem;
}

.listenWordButton {
  height: 2.3rem;
  width: 2.3rem;
  border-radius: 50%;
}

.img {
  display: block;
  margin: auto;
}

.infoTitle {
  margin-bottom: 0.3rem;
}

.engInfo {
  margin-bottom: 0.2rem;
}

.rusInfo {
  font-size: 0.8rem;
  color: gray;
  line-height: 1.2rem;
}

.controls {
  width: 100%;
}