.card {
  width: 20rem;
}

.header {
  margin-bottom: 0.5rem;
}

.img,
.infoTitle {
  margin-bottom: 0.3rem;
}

.engInfo {
  margin-bottom: 0.2rem;
}

.rusInfo {
  font-size: 0.8rem;
  color: gray;
  line-height: 1.2rem;
}

.controls {
  width: 100%;
}